*.py
*.pyc
*.pth
*.txt
/venv/Lib/site-packages/pip-23.1.2.dist-info
*.exe
*.pem
*.typed
/venv/Lib/site-packages/setuptools-65.5.0.dist-info
/venv/Lib/site-packages/setuptools/command
/venv/Lib/site-packages/setuptools
/venv
